.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* makes sure popup is on top */

  .popup {
    width: 70%;
    height: 90%;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* subtle shadow */
    border-radius: 10px; /* optional, for rounded edges */
    position: relative;

    .close-button {
      position: absolute;
      top: 10px;
      right: 20px;
      background: transparent;
      border: none;
      font-size: 24px;
      cursor: pointer;
    }

    .popup-inner {
      // scrollbar
      overflow-y: auto;
      height: 100%;
      margin-right: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .message-list {
        width: 100%;
        height: 100%;

        .message {
          display: flex;
    
          &.success {
            color: green;
          }
    
          &.error {
            color: red;
          }
    
          &.warning {
            color: orange;
          }
    
          & + .message {
            margin-top: 10px;
          }
        }
      }

      .import-button {
        background-color: white;
        border: 1px solid #007bff;
        color: #007bff;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background-color: #007bff;
          color: white;
        }
      }
    }
  }
}



